.weatherDatCont{
  width: 400px;
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.weatherTemperature{
  width: 40%;
  display: inline-block;
}

.weatherExtraInfo{
  width: 60%;
  display: inline-block;
  line-height: 28px;
  text-align: left;
  margin-left: 20px;
}

.temperature{
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  color: #333;
}

.temperatureType{
  font-weight: bold;
  color:#6666;
}

.extraInfoText{
  color: #1535c5;
  font-size: 16px;
  font-weight: bold;
}

.wicon{
  color: rgb(255, 72, 0)
}